.container{
    margin-top: 10px;   
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 100%;
    overflow: hidden;
}
.button{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 0 15px;
}
.button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.heading{
    background: rgb(33, 37, 41) !important;
    color: #fff !important;
    border-right: 2px solid rgba(255, 255, 255, 0.54);
    padding: 10px 20px !important;
}