.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #DAD9D5;
}

.button{
    background-color: #7f520b;
    border: 1px solid #CFCFC9;
    color: white;
    padding: 5px 30px;
}
.button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
.addJournal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}