.container{
    margin-top: 10px;   
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 100%;
    overflow: hidden;
}
.heading{
    background-color: #E9E9E5 !important;
    color: black !important;
    padding: 10px 20px !important;
}