.container{
    margin-top: 10px;   
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 100%;
    overflow: hidden;
}
.heading{
    background-color: #E9E9E5 !important;
    color: black !important;
    padding: 10px 20px !important;
}
.button{
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #CFCFC9;
    padding: 0 10px;
}
.button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.lotSize{
    display: flex;
    align-items: center;
    justify-content: space-between;
}